@import "/css/font-name.css";

body {
	font-family: "Open Sans", "Arial", sans-serif; 
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin: 0;

	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.button {
	display: block;
	max-width: 161px;
	padding: 9px 22px;

	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;

	background-color: #000;
	border: none;
	outline: none;

	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #c29974;
}

.button:active {
	background-color: #cfaf91;
}

.button:disabled {
	color: #e1e1e1;

	background-color: #c1c1c1;
}

.hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* text and titles */

.title-one {
	margin: 4px 0 19px 0;

	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 40px;
	line-height: 44px;
	color: #1e0606;
	text-transform: uppercase;
}

.title-two {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 38px;
	line-height: 46px;
	color: #1e0606;
	text-transform: uppercase;
}

.title-small {
	margin: 0 0 28px 0;
	padding: 0 0 23px 0;

	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #aaa;

	border-bottom: 1px solid #666;	
}

.text {
	font-size: 16px;
	line-height: 22px;
	color: #1e0606;
}

.text--white {
	color: #fff;

	outline: none;
}

.text--gray {
	color: #a2a2a2;
}

/* header */

.header {
	margin: 50px 0 0 0;
}

.header-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.logo {
	margin: 0 60px 0 0;

	line-height: 0;

	outline: none;
}

.logo:hover,
.logo:focus {
	opacity: .5;
}

.logo:active {
	opacity: .2;
}

.header-nav-list {
	display: flex;
	flex-wrap: wrap;
}

.header-nav__item {
	margin: 0 20px 0 0;
}

.header-nav__item:hover {
	opacity: .5;
}

.header-nav__item:active {
	opacity: .2;
}

.header-nav__link {
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #1e0606;

	outline: none;
}

.header-nav__link:focus {
	opacity: .5;
}

.info-bar {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
}

.info-bar__item {
	margin: 0 0 0 15px;
}

.info-bar__item:hover {
	opacity: .5;
}

.info-bar__item:active {
	opacity: .2;
}

.info-bar__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #1e0606;

	outline: none;
}

.info-bar__link:focus {
	opacity: .5;
}

.button-search {
	background-color: rgba(255, 255, 255, 1);
	border: none;
	outline: none;

	cursor: pointer;
}

.button-search:focus {
	opacity: .5;
}

.std-page {
	margin: 63px 0 48px 0;
}

/* breadcrumbs */

.breadcrumbs {
	display: flex;
}

.breadcrumbs__item {
	position: relative;

	margin: 0 48px 0 0;
}

.breadcrumbs__link {
	font-family: "Crimson Text", "Georgia", serif;
	font-size: 20px;
	font-style: italic;
	line-height: 25px;
	color: #1e0606;

	outline: none;
}

.breadcrumbs__item:hover,
.breadcrumbs__link:focus {
	text-decoration: underline;
}

.breadcrumbs__item::after {
	position: absolute;
	top: 4px;
	right: -30px;

	height: 12px;
	width: 8px;

	background: url(/img/icon-arrow-small.svg) no-repeat;

	content: "";
}

.breadcrumbs__item:last-child::after {
	background: none;
}

.breadcrumbs__link--gray {
	opacity: .5;
}

/* page toggle */

.page-toggle {
	margin: 50px 0 56px;
}

.page-toggle-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-toggle__list {
	display: flex;
}

.page-toggle__item {
	margin: 0 64px 0 0;
}

.page-toggle__link {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	color: #1e0606;

	outline: none;
}

.page-toggle__link.active {
	color: #c29974;
}

.page-toggle__item:last-child {
	margin: 0;
}

.page-toggle__item:hover,
.page-toggle__link:focus {
	opacity: .5;
}

.page-toggle__item:active {
	opacity: .3;
}

.arrow {
	padding: 0;

	background: none;
	border: none;
	outline: none;

	cursor: pointer;
}

.arrow--right .arrow-img {
	transform: rotate(180deg);
}

.arrow-img path {
	opacity: .12;
}

.arrow:hover .arrow-img path,
.arrow:focus .arrow-img path {
	stroke: #c29974;
	opacity: 1;
}
.arrow:active .arrow-img path {
	stroke: #c29974;
	opacity: .5;
}

/* category */

.category {
	margin: 90px 0 90px 0;
}

.category-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.category-list__item {
	position: relative;

	width: 280px;
	height: 270px;
	margin: 0 10px 23px 10px;
}

.category-list__item:nth-child(1) {
	background-color: #dbe4db;
}

.category-list__item:nth-child(2) {
	background-color: rgba(186, 142, 107, .3);
}

.category-list__item:nth-child(3) {
	background-color: #f8f2da;
}

.category-list__item:nth-child(4) {
	background-color: rgba(9, 3, 79, .17);
}

.category-list__item:nth-child(5) {
	background-color: rgba(207, 68, 111, .25);
}

.category-list__item:nth-child(6) {
	background-color: rgba(125, 151, 218, .2);
}

.category-list__link {
	display: flex;
	width: 100%;
	height: 100%;

	outline: none;
}

.category-list__img {
	margin: auto;
}

.category-list__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	margin: 0;

	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.category-list__item:hover .category-list__title {
	text-decoration: underline;
}

.category-list__item:hover .category-list__title,
.category-list__link:focus .category-list__title {
	text-decoration: underline;
}

/* footer */

.footer {
	padding: 100px 0;

	background-color: #434343;
}

.footer-content {
	margin: 0 -10px;
}

.footer-box {
	display: flex;
	margin-bottom: 7px;
	padding: 0 0 13px 0;

	border-bottom: 1px solid #666;
}

.footer__flex {
	width: 33.33%;
	padding: 0 10px;
}

.footer-nav-list {
	margin: 0;
}

.footer-nav__item {
	margin: 0 0 15px 0;
}

.footer-nav__item:hover,
.text--white:focus {
	opacity: .5;
}

.footer-nav__item:active {
	opacity: .2;
}

.connect-form {
	display: flex;
	margin-top: -3px;
}

.connect-form__input {
	width: 100%;
	padding-left: 15px;

	font-size: 16px;
	line-height: 22px;
	color: #ebebeb;

	background-color: #666;
	border: none;
	outline: none;
}

.connect-form__input::placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #ebebeb;
}

.connect-form__input:focus {
	border: 1px solid #fffdfd;
}

.social-list {
	display: flex;
	margin: 25px 0;
}

.social-list__item {
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
	padding: 0;

	background-color: #666;
	border-radius: 15px;
}

.social-list__link {
	display: flex;
	width: 100%;
	height: 100%;

	line-height: 0;

	outline: none;
}

.social-list__img {
	margin: auto;
}

.social-list__item:hover,
.social-list__link:focus {
	opacity: .5;
}

.social-list__item:active {
	opacity: .2;
}

.stars {
	display: flex;
	align-items: center;
}

.text--stars {
	margin-right: 28px;
}

.stars-list {
	display: flex;
	margin: 0;
}

.stars:hover .text--stars {
	color: #c29974;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
}

.stars-list__item {
	margin: 0 6px 0 0;
}

.stars-list__button {
	padding: 0;

	background: none;
	border: none;
	outline: none;

	cursor: pointer;
}

.stars-list__button:hover .stars-list__img path {
	fill: #836e5b;
}

.stars-list__button:focus .stars-list__img path {
	fill: #836e5b;
}

.stars-list__button:active .stars-list__img path {
	fill: #c29974;
}

.text--design {
	display: block;
	margin: 16px 0;

	outline: none;
}

.text--design:hover,
.text--design:focus {
	text-decoration: underline;
	color: #fff;
}

/* popup */

.popup-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;

	background-color: rgba(125, 151, 218, .8);
}

.popup_open {
	display: flex;
}

.contact-us-form {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 680px;
	margin: auto;
	padding: 22px 40px 43px 40px;

	font-family: "Roboto", "Arial", sans-serif;

	background-color: #e5eaf8;
}

.form-row {
	display: flex;
	justify-content: space-between;
}

.form-cell-100 {
	width: 100%;
}

.form-cell-50 {
	width: 290px;
}

.form-label {
	display: block;
	margin-top: 20px;

	font-size: 14px;
	line-height: 16px;
	color: #1e0606;
}

.form-label__text {
	display: block;
	margin-bottom: 6px;
}

.form__input {
	width: 100%;
	padding: 14px 20px;

	font-size: 18px;
	line-height: 21px;
	color: #1e0606;

	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
}

.form__input:focus {
	border: 1px solid rgba(0, 0, 0, .3);
	outline: none;
}

.form__input:active {
	border: 1px solid rgba(0, 0, 0, .2);
}

.form__text {
	width: 100%;
	min-height: 150px;
	padding: 14px 20px;

	font-size: 18px;
	line-height: 21px;
	color: #1e0606;

	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
}

.form__text:focus {
	border: 1px solid rgba(0, 0, 0, .3);
	outline: none;
}

.form__text:active {
	border: 1px solid rgba(0, 0, 0, .2);
}

.form-label--checkbox {
	display: flex;
	align-items: center;
}

.form__checker {
	position: absolute;

	width: 19px;
	height: 19px;

	border: 2px solid #c29974;
	border-radius: 3px;
}

.button--form {
	max-width: 106px;
	margin-top: 21px;

	font-family: "Open Sans", "Arial", sans-serif; 
}

.form__checkbox:disabled ~ .form__checker,
.form__checkbox:disabled ~ .form-label__checkbox{
	opacity: .5;
}

.form__checkbox:checked ~ .form__checker::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: #fff;

	content: "";
}

.form__checkbox:checked ~ .form__checker::after {
	position: absolute;
	top: -2px;
	left: 1px;

	width: 15px;
	height: 15px;

	background-image: url(/img/icon-check.svg);

	content: "";
}

.form-label__checkbox {
	padding-left: 34px;
}

.form__checkbox:focus ~ .form-label__checkbox,
.form-label__checkbox:hover {
	text-decoration: underline;
}

.close {
	position: absolute;
	top: -2px;
	right: -24px;

	width: 15px;
	height: 15px;

	background-color: rgba(0, 0, 0, 0);
	border: none;

	cursor: pointer;
}

.close::before {
	position: absolute;
	top: 0;
	transform: rotate(45deg);

	height: 20px;
	width: 3px;

	background-color: #fff;
	border-radius: 25%;

	content: "";
}

.close::after {
	position: absolute;
	top: 0;
	transform: rotate(-45deg);

	height: 20px;
	width: 3px;

	background-color: #fff;
	border-radius: 25%;

	content: "";
}

.close:hover {
	opacity: .5;
}

.close:active {
	opacity: .3;
}