body {
	font-family: "Open Sans", sans-serif; 
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style: none;
}

.button {
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;

	background-color: #000;
	border: none;

	cursor: pointer;
}

/* text and titles */

.title-one {
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	line-height: 44px;
	color: #1e0606;
	text-transform: uppercase;
}

.title-two {
	font-family: "Montserrat", sans-serif;
	font-size: 38px;
	line-height: 46px;
	color: #1e0606;
	text-transform: uppercase;
}

.title-small {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #aaa;
}

.text {
	font-size: 16px;
	line-height: 22px;
	color: #1e0606;
}

.text--white {
	color: #fff;
}

.text--gray {
	color: #a2a2a2;
}

/* header */

.header-nav__link {
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #1e0606;
}

.header-nav__link--bold {
	font-weight: 700;
}

.button-search {
	background-color: rgba(255, 255, 255, 1);
	border: none;

	cursor: pointer;
}

/* breadcrumbs */

.breadcrumbs__link {
	font-family: "Crimson Text", serif;
	font-size: 20px;
	font-style: italic;
	line-height: 25px;
	color: #1e0606;
}

.breadcrumbs__link--gray {
	opacity: .5;
}

/* page toggle */

.page-toggle__link {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	color: #1e0606;
}

.page-toggle__link.active {
	color: #c29974;
}

.arrow {
	background: none;
	border: none;

	cursor: pointer;
}

.arrow-img {
	opacity: .12;
}

.arrow--right .arrow-img {
	transform: rotate(180deg);
}

/* footer */

.footer {
	background-color: #434343;
}

.social-list__item {
	background-color: #666;
}

.stars-list__button {
	background: none;
	border: none;
	cursor: pointer;
}