body {
	font-family: "Open Sans", sans-serif; 
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}

.button {
	display: block;
	max-width: 161px;
	padding: 9px 22px;

	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;

	background-color: #000;
	border: none;

	cursor: pointer;
}

.button:hover {
	background-color: #c29974;
}

.button:active {
	background-color: #cfaf91;
}

.button:disabled {
	color: #e1e1e1;

	background-color: #c1c1c1;
}

.hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* text and titles */

.title-one {
	margin: 0 0 20px 0;

	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	line-height: 44px;
	color: #1e0606;
	text-transform: uppercase;
}

.title-two {
	font-family: "Montserrat", sans-serif;
	font-size: 38px;
	line-height: 46px;
	color: #1e0606;
	text-transform: uppercase;
}

.title-small {
	margin: 0 0 28px 0;
	padding: 0 0 23px 0;

	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #aaa;

	border-bottom: 1px solid #666;	
}

.text {
	font-size: 16px;
	line-height: 22px;
	color: #1e0606;
}

.text--white {
	color: #fff;
}

.text--gray {
	color: #a2a2a2;
}

/* header */

.header {
	margin: 50px 0 0 0;
}

.header-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.logo {
	margin: 0 60px 0 0;
}

.logo:hover {
	opacity: .5;
}

.logo:active {
	opacity: .2;
}

.header-nav-list {
	display: flex;
	flex-wrap: wrap;
}

.header-nav__item {
	margin: 0 20px 0 0;
}

.header-nav__item:hover {
	opacity: .5;
}

.header-nav__item:active {
	opacity: .2;
}

.header-nav__link {
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #1e0606;
}

.info-bar {
	margin-left: auto;

	display: flex;
	flex-wrap: wrap;
}

.info-bar__item {
	margin: 0 0 0 15px;
}

.info-bar__item:hover {
	opacity: .5;
}

.info-bar__item:active {
	opacity: .2;
}

.info-bar__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #1e0606;
}

.button-search {
	background-color: rgba(255, 255, 255, 1);
	border: none;

	cursor: pointer;
}

.std-page {
	margin: 60px 0 47px 0;
}

/* breadcrumbs */

.breadcrumbs {
	display: flex;
}

.breadcrumbs__item {
	position: relative;

	margin: 0 48px 0 0;
}

.breadcrumbs__link {
	font-family: "Crimson Text", serif;
	font-size: 20px;
	font-style: italic;
	line-height: 25px;
	color: #1e0606;
}

.breadcrumbs__item::after {
	position: absolute;
	top: 4px;
	right: -30px;

	height: 12px;
	width: 8px;

	background: url(/img/icon-arrow-small.svg) no-repeat;

	content: "";
}

.breadcrumbs__item:last-child::after {
	background: none;
}

.breadcrumbs__link--gray {
	opacity: .5;
}

/* page toggle */

.page-toggle {
	margin: 50px 0 56px;
}

.page-toggle-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-toggle__list {
	display: flex;
}

.page-toggle__item {
	margin: 0 64px 0 0;
}

.page-toggle__item:last-child {
	margin: 0;
}

.page-toggle__item:hover {
	color: #1e0606;
	opacity: .5;
}

.page-toggle__link {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	color: #1e0606;
}

.page-toggle__link.active {
	color: #c29974;
}

.arrow {
	padding: 0;
	background: none;
	border: none;
	opacity: .12;

	cursor: pointer;
}

.arrow--right .arrow-img {
	transform: rotate(180deg);
}

/* footer */

.footer {
	padding: 100px 0;

	background-color: #434343;
}

.footer-content {
	margin: 0 -10px;
}

.footer-box {
	margin-bottom: 7px;
	padding: 0 0 13px 0;

	display: flex;

	border-bottom: 1px solid #666;
}

.footer__flex {
	width: 33.33%;
	padding: 0 10px;
}

.footer-nav-list {
	margin: 0;
}

.footer-nav__item {
	margin: 0 0 15px 0;
}

.footer-nav__item:hover {
	opacity: .5;
}

.footer-nav__item:active {
	opacity: .2;
}

.connect-form {
	margin-top: -3px;

	display: flex;
}

.connect-form__input {
	width: 100%;
	padding-left: 15px;

	font-size: 16px;
	line-height: 22px;
	color: #ebebeb;

	background-color: #666;
	border: none;
}

.connect-form__input::placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #ebebeb;
}

.connect-form__input:focus {
	border: 1px solid #fffdfd;
}

.social-list {
	margin: 25px 0;
	
	display: flex;
}

.social-list__item {
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
	padding: 0;

	background-color: #666;
	border-radius: 15px;
}

.social-list__item:hover {
	opacity: .5;
}

.social-list__item:active {
	opacity: .2;
}

.social-list__link {
	width: 100%;
	height: 100%;

	display: flex;

	line-height: 0;
}

.social-list__img {
	margin: auto;
}

.stars {
	display: flex;
	align-items: center;
}

.text--stars:hover {
	color: #c29974;
}

.text--stars {
	margin-right: 28px;
}

.stars-list {
	margin: 0;

	display: flex;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
}

.stars-list__item {
	margin: 0 6px 0 0;
}

.stars-list__button {
	padding: 0;

	background: none;
	border: none;

	cursor: pointer;
}

.text--design {
	margin: 16px 0;

	display: block;
}

.text--design:hover {
	text-decoration: underline;
	color: #fff;
}

/* popup */

.popup-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;

	background-color: rgba(125, 151, 218, 0.8);
}

.contact-us-form {
	position: relative;

	width: 680px;
	margin: auto;
	padding: 22px 40px 43px 40px;

	display: flex;
	flex-direction: column;

	font-family: "Roboto", sans-serif;

	background-color: #e5eaf8;
}

.form-row {
	display: flex;
	justify-content: space-between;
}

.form-cell-100 {
	width: 100%;
}

.form-cell-50 {
	width: 290px;
}

.form-label {
	margin-top: 20px;

	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #1e0606;
}

.form-label__text {
	margin-bottom: 6px;

	display: block;
}

.form__input {
	width: 100%;
	padding: 14px 20px;

	font-size: 18px;
	line-height: 21px;
	color: #1e0606;

	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
}

.form__input:active {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.form__text {
	width: 100%;
	min-height: 150px;
	padding: 14px 20px;

	font-size: 18px;
	line-height: 21px;
	color: #1e0606;

	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.form__text:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
}

.form__text:active {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-label--checkbox {
	display: flex;
	align-items: center;
}

.form__checker {
	position: absolute;

	width: 19px;
	height: 19px;

	border: 2px solid #c29974;
	border-radius: 3px;
}

.button--form {
	max-width: 106px;
	margin-top: 20px;

	font-family: "Open Sans", sans-serif; 
}

.form__checkbox:checked ~ .form__checker::before {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	
	background-color: #c29974;

	content: "";
}

.form-label__checkbox {
	padding-left: 34px;
}

.close {
	position: absolute;
	top: -3px;
	right: -21px;

	background-color: rgba(0, 0, 0, 0);
	border: none;

	cursor: pointer;
}

.close::before {
	content: "";
	position: absolute;

	height: 15px;
	width: 2px;
	transform: rotate(45deg);

	background-color: #fff;
}

.close::after {
	content: "";
	position: absolute;

	height: 15px;
	width: 2px;
	transform: rotate(-45deg);

	background-color: #fff;
}

.close:hover {
	opacity: .5;
}

.close:active {
	opacity: .3;
}