@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff") format("woff"),
  	url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.woff") format("woff"),
  	url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Light.woff") format("woff"),
		url("/fonts/Montserrat-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Regular.woff") format("woff"),
		url("/fonts/Montserrat-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff") format("woff"),
  	url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/CrimsonText-Italic.woff") format("woff"),
  	url("/fonts/CrimsonText-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/CrimsonText-BoldItalic.woff") format("woff"),
  	url("/fonts/CrimsonText-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff") format("woff"),
  	url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}