@import "/css/font-name.css";

/* slider */

.slider {
	margin: 128px 0 90px 0;
}

.slider-body {
	position: relative;

	display: flex;

	background-color: #eee4db;
}

.slider__number {
	position: absolute;
	top: 19px;
	left: 28px;

	margin: 0;

	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 300;
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, .05);
}

.slider-toggle {
	position: absolute;
	top: 88px;
	left: 31px;
}

.slider-toggle__item {
	width: 31px;
	height: 3px;
	margin: 11px 0;

	line-height: 0;
}

.slider-toggle__button {
	width: 31px;
	height: 3px;
	padding: 0;

	background-color: #d6cac2;
	border: none;
	outline: none;

	cursor: pointer;
}

.slider-toggle__button:hover,
.slider-toggle__button:focus {
	background-color: rgba(30, 6, 6, .6);
}

.slider-toggle__button.active {
	background-color: rgba(30, 6, 6, .6);
}

.slider-info {
	align-self: center;
	max-width: 307px;
	margin: 89px 0 89px 133px;
}

.slider__text {
	margin: 19px 0;

	font-family: "Crimson Text", "Georgia", serif;
	font-size: 19px;
	font-style: italic;
	line-height: 25px;
	letter-spacing: 0.4px;
	color: #1e0606;
}

.slider__img {
	position: absolute;
	right: 99px;
	bottom: 0;
}

.slider__add {
	margin: 0;
	padding: 12px 0 11px 0;

	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #c29974;
}

.title--category {
	margin-bottom: 31px;
}

.category-toggle {
	display: flex;
	align-items: center;
	margin: 7px 0 30px 0;
}

.category-toggle__arrows {
	margin: 0 20px 0 0;
}

.category__arrow {
	width: 37px;
	height: 37px;

	background-color:rgba(112, 187, 220, .2);
	border: none;
	outline: none;

	cursor: pointer;
}

.category__arrow-img:hover,
.category__arrow:focus .category__arrow-img {
	opacity: .5;
}

.category__arrow:active .category__arrow-img {
	opacity: .3;
}

.category__arrow--left {
	margin-right: 2px;
}

.category__arrow--right .category__arrow-img {
	transform: rotate(180deg);
}

.category-toggle .text {
	max-width: 580px;
	margin: 0;
}

/* delivery */

.delivery {
	margin: 90px 0;
}

.delivery-content {
	display: flex;
	flex-wrap: wrap;
}

.delivery__img {
	margin-right: 60px;
}

.delivery-info {
	max-width: 530px;
}

.title--delivery {
	margin-bottom: 6px;
	margin-left: 60px;
}

.delivery-list {
	margin: 0 0 21px 0;
}

.delivery-list__button {
	width: 326px;
	padding: 14px 0 8px 60px;

	font-family: "Crimson Text", "Georgia", serif;
	font-size: 26px;
	font-style: italic;
	line-height: 32px;
	text-align: left;
	color: #1e0606;

	background-color: rgba(255, 255, 255, 1);
	border: none;
	outline: none;

	cursor: pointer;
}

.delivery-list__button:hover,
.delivery-list__button:focus {
	font-weight: 700;

	background-color: rgba(112, 187, 220, .2);
}

.delivery-list__button.active {
	font-weight: 700;

	background-color: rgba(112, 187, 220, .2);

	cursor: default;
	pointer-events: none;
}

.text--delivery {
	margin: 15px 0 15px 60px;
}

.button--delivery {
	margin: 26px 0 26px 60px;
}

/* partners */

.partners {
	margin: 90px 0;
}

.partners-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.partners-list__link {
	display: block;

	line-height: 0;

	outline: none;
}

.partners-list__item:hover,
.partners-list__link:focus {
	opacity: .5;
}

.partners-list__item:active {
	opacity: .3;
}

/* more */

.more {
	margin: 90px 0 147px 0;
}

.more-content {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
}

/* widget */

.widget {
	max-width: 543px;
	margin-top: 26px;
	margin-right: 57px;
	padding: 0 30px 15px 30px;

	background-color: #e1f0f7;
}

.title--widget {
	margin: -25px 0 12px 0;
}

.widget__subtitle {
	margin: 0 0 10px 0;

	font-family: "Crimson Text", "Georgia", serif;
	font-size: 26px;
	font-weight: 400;
	font-style: italic;
	line-height: 32px;
}

.text--widget {
	margin: 10px 0;
}

.button--widget {
	max-width: 123px;
	margin: 20px 0;
}

/* map */

.map {
	max-width: 543px;
	margin-top: 26px;
	padding: 0 30px 82px 30px;

	background-color: #e1f0f7;
}

.title--map {
	margin: -25px 0 20px 0;
}

.text--map {
	margin: 20px 0;
}

.map-item {
	position: relative;
	
	margin-top: 20px;
}

.map-item__img {
	position: absolute;
}