@import "/font-name.css";

/* slider */

.slider {
	margin: 127px 0 90px 0;
}

.slider-content {
	position: relative;
}

.slider-body {
	display: flex;

	background-color: #eee4db;
}

.slider-control {
	position: absolute;
	top: 17px;
	left: 28px;
}

.slider__number {
	margin: 0;

	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, .05);
}

.slider-toggle {
	margin-left: 3px;
	margin-top: -2px;
}

.slider-toggle__item {
	width: 31px;
	height: 3px;
	margin-bottom: 11px;
}

.slider-toggle__button {
	width: 31px;
	height: 3px;

	background-color: #d6cac2;
	border: none;

	cursor: pointer;
}

.slider-toggle__button.active {
	background-color: rgba(30, 6, 6, .6);
}

.slider-info {
	max-width: 307px;
	margin: 90px 0 88px 133px;

	align-self: center;
}

.slider__text {
	font-family: "Crimson Text", serif;
	font-size: 20px;
	font-style: italic;
	line-height: 25px;
	color: #1e0606;
}

.slider__img {
	position: absolute;
	right: 100px;
	bottom: 38px;
}

.slider__add {
	margin: 0;
	padding: 12px 0 11px 0;

	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;

	background-color: #c29974;
}

/* category */

.category {
	margin: 90px 0;
}

.title--category {
	margin: 30px 0;
}

.category-list {
	margin: 0 -10px;

	display: flex;
}

.category-list__item {
	position: relative;

	width: 25%;
	height: 270px;
	margin: 0 10px;
}

.category-list__item:nth-child(1) {
	background-color: #dbe4db;
}

.category-list__item:nth-child(2) {
	background-color: rgba(186, 142, 107, .3);
}

.category-list__item:nth-child(3) {
	background-color: #f8f2da;
}

.category-list__item:nth-child(4) {
	background-color: rgba(9, 3, 79, .17);
}

.category-list__link {
	width: 100%;
	height: 100%;

	display: flex;
}

.category-list__img {
	margin: auto;
}

.category-list__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	margin: 0;

	font-family: "Montserrat", sans-serif;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.category-toggle {
	margin: 30px 0;

	display: flex;
	align-items: center;
}

.category-toggle__arrows {
	margin: 0 20px 0 0;
}

.category__arrow {
	width: 37px;
	height: 37px;

	background-color:rgba(112, 187, 220, .2);
	border: none;

	cursor: pointer;
}

.category__arrow--left {
	margin-right: 2px;
}

.category__arrow--right .category__arrow-img {
	transform: rotate(180deg);
}

.text--category {
	margin: 0;
}

/* delivery */

.delivery {
	margin: 90px 0;
}

.delivery-content {
	display: flex;
}

.delivery__img {
	margin-right: 60px;
}

.delivery-info {
	max-width: 530px;
}

.title--delivery {
	margin-bottom: 6px;
	margin-left: 60px;
}

.delivery-list {
	margin: 0 0 22px 0;
}

.delivery-list__button {
	width: 326px;
	padding: 14px 0 8px 60px;

	font-family: "Crimson Text", serif;
	font-size: 26px;
	font-style: italic;
	line-height: 32px;
	text-align: left;
	color: #1e0606;

	background-color: rgba(255, 255, 255, 1);
	border: none;

	cursor: pointer;
}

.delivery-list__button.active {
	font-weight: 700;

	background-color: rgba(112, 187, 220, .2);
}

.text--delivery {
	margin: 15px 0 15px 60px;
}

.button--delivery {
	margin: 26px 0 26px 60px;
}

/* partners */

.partners {
	margin: 90px 0;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* more */

.more {
	margin: 90px 0 60px 0;
}

.more-content {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

/* widget */

.widget {
	max-width: 543px;
	padding: 0 30px 35px 30px;

	background-color: #e1f0f7;
}

.title--widget {
	margin: 0 0 10px 0;
}

.widget__subtitle {
	margin: 0 0 10px 0;

	font-family: "Crimson Text", serif;
	font-size: 26px;
	font-weight: 400;
	font-style: italic;
	line-height: 32px;
}

.text--widget {
	margin: 10px 0;
}

.button--widget {
	margin: 20px 0;
}

/* map */

.map {
	max-width: 543px;
	padding: 0 30px 35px 30px;

	background-color: #e1f0f7;
}

.title--map {
	margin: 0 0 20px 0;
}

.text--map {
	margin: 20px 0;
}